*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    font-weight: 400;
    word-wrap: break-word;
    color: #333;
    font-family: 'popins', serif;
}
header{
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    z-index: 100;
}
.container{
    height: 50vh;
    position: relative;
    margin: auto;
    padding: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-image: url(capture/ordi.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.profil{
    width: 80%;
    margin: 5vh 3vw 0 0;
    border-radius: 5px;
    padding: 2% 0;
    background-color: #ffad01;
    color: white;
    display: flex;
    gap: 1vh;
    flex-wrap: wrap;
    justify-content: space-around;
}
.info{
    display: flex;
    gap: 1vw;
}
ion-icon{
    margin-top: 1vh;
}
.download{
    width: auto;
    padding: 15px 30px;
    margin: 5vh 3vw 0 0;
    border-radius: 4px;
    box-shadow: inset 0 0px 4px rgb(0 0 0 / 30%);
    background: #FFAD01;
    color: white;
    text-decoration: none;
    display: inline-block;
}